/* changement de l'image de fond de ma page de connexion WordPres */
body.login {
    background-image: url('picture.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.login h1 a {
    background-image: url('logo_H.png');
    -moz-border-radius : 25px;
    -webkit-border-radius : 25px;
    border-radius : 25px;  /* ou 50% */

}